body{
    background-color:olive;
}
#aqua-box{
 background-color:aqua;
}
#red-box{
    background-color:red;
   }
#green-box{
    background-color:green;
   }
#black-box{
   background-color:black;
   }
#yellow-box{
    background-color:yellow;
   }
#white-box{
    background-color:white;
   }
#purple-box{
    background-color:purple;
   }
#pink-box{
    background-color:pink;
   }
#blue-box{
    background-color:blue;
   }
#brown-box{
    background-color:brown;
   }